body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 95%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
    font-weight: bold;
}
input {
    padding:10px;
    width: 100%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
    font-size: medium;
}
.card {
    margin:auto;
    text-align: center;
    width: 500px;
}
.image{
    margin-top:10px;
    margin-bottom:10px;
    width: 500px;
}
.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-row-gap: 50px;
  }

#result {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}